<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <H1> Say hi to: {{pet.pet_name}}</H1>
        <div>
            <span>Did you know?</span>
        </div>
        <div class="pets-container">
            <div class="show-pet">
                <img src="{{ url_for('static', filename='assets/') }}{{ pet.pet_photo }}"/>
            </div>
        </div>
        <a href="/pets">Go back</a>
    </div>
</body>
</html>