<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> Submit a new Fax</h1>
    </div>
    <div class="new-entry">
        <form>
            <label for="submit"> <h2>Name/Nombre:</h2></label>
            <input type="text" name="submit">
            <label for="fact"> <h2>Fact/Dato:</h2></label>
            <input type="text" name="fact">
        </form>
        <button>Submit (isn't set up)</button>
    </div>
    <a href="/pets">Go back to the home page</a>
</body>
</html>